.card-custom {
    margin: 20px;
    width: 250px;
    background-color: #01497c;
  }

  .card-img-top {
    max-height: 180px;
    object-fit: cover;
    object-position: top;
  }

  .animate-card {
    position: relative;
    animation: animatecard 2s;
  }
 
  @keyframes animatecard {
    from {
      /* top: -100px; */
      opacity: 0;
    }
    to {
      /* top: 0; */
      opacity: 1;
    }
  }