.devicon {
  font-size: 5rem;
  color: white;
}

.devicon:hover {
  font-size: 5rem;
  color: #468faf;
}

.home {
  color: #fff;
}

.home-buttons {
  height: 150px;
  background-color: #00457a;
  padding: 10px;
  border-radius: 10px;
}

.home-buttons:hover {
  background-color: #005aa0;
  cursor: pointer;
}

.home-buttons-text {
    font-size: 1.2rem;
}

.home-link {
    color: #016ec2;
}

.home-link:hover {
    color: #037edd;
}


.icons {
    background-color: #012a4a;
    border-radius: 10px;
    color: #fff;
  }

#welcome-message {
  font-size: 4rem;
  font-family: "Amatic SC", "Courier New", Courier, monospace;
  text-align: center;
}
